{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourism & Travel Management</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body  style="background-image: url('{% static 'images/klu1.jpg' %}');
background-repeat:no-repeat;background-size:100%;";>

<a href="{% url 'registration' %}"> Sign-up |  </a>
<a href="{% url '' %}"> changepassword |  </a>
<a href="{% url 'login' %}"> Login |  </a>
<a href="{% url '' %}"> Home|  </a>
<a href="{% url '' %}"> Contact|  </a>
<a href="{% url '' %}"> About us  </a>
<br>
{% block 'b1' %}
<h2 align="center"> <font color="green">  KLU Tourism & Travel Management </font> </h2>
{% endblock %}
</br>
</body>
</html>
