{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"> <font color="green">Login Page </font> </h2>
<form method="post" action= "{% url 'checkadminlogin' %}">
    {% csrf_token %}
    <table align="center" border="2" >
        <tr>
        <td> Enter User Name  </td>
            <td> <input type="text" name="uname" required/> </td>
        </tr>
        <tr>
        <td>Enter Password</td>
            <td><input type="password" name="pwd" required/></td>
        </tr>
        <tr>
           <td align="center"><input type="submit" value="Login"></td>
            <td align="center"><input type="reset" value="Clear"></td>
        </tr>

    </table>
</form>

<div>
    {% for message in messages %}
    <h4 align="center" style="color: red;">{{message}}</h4>
    {% endfor %}
</div>
{% endblock %}
