{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"><font color="green"> Sign-up </font> </h2>
<form method="post" action= "{% url 'checkregistration' %}">
    {% csrf_token %}
    <table align="center" border="2">
        <td> Enter Name  </td>
            <td> <input type="text" name="name" required/> </td>
        </tr>
        <tr>
        <td>Enter Address </td>
            <td><input type="text" name="addr" required/></td>
        </tr>
        <td> Enter e-mail  </td>
            <td> <input type="text" name="email" required/> </td>
        </tr>
        <tr>
        <td>Enter Phone Number </td>
            <td><input type="text" name="phno" required/></td>
        </tr>
        <tr>
        <td> Enter User Name  </td>
            <td> <input type="text" name="uname" required/> </td>
        </tr>
        <tr>
        <td>Password</td>
            <td><input type="password" name="pwd" required/></td>
        </tr>
        <td> Conform Password</td>
            <td><input type="password" name="cpwd" required/></td>
        </tr>
        <tr>
           <td align="center"><input type="submit" value="Sign-up"></td>
            <td align="center"><input type="reset" value="Clear"></td>
        </tr>

    </table>
</form>


<div>
    {% for i in messages %}
    <h4 align="center" style="color: red;">{{i}}</h4>
    {% endfor %}
</div>
    {% endblock %}
